*, *:before, *:after {
  box-sizing: border-box;
}

img, embed, object, video{
  max-width: 100%;
  height: auto;
}
body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 100%;
  font-family: fantasy;
  background: black;
  text-align: center;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1{
  color:dodgerblue;
}
label{
  color:dodgerblue;
}
button{
  background: white;
  border: none;
  border-radius: 20%;
  color:dodgerblue;
}

button input{
  background: white;
  border: none;
  border-radius: 20%;
  color:dodgerblue;
}

a{
  color:dodgerblue;

}
a:hover{

  color: white;
  text-decoration:none
}
a:visited {font-family:Arial; color:dodgerblue; text-decoration:none}

span{
  font-size: 2em;
  color:dodgerblue;
}

table{
  margin: 0 auto;
  color:dodgerblue;
  font-size: 2em;
}

.instrumentDiv{
  border: 1px solid white;
  border-radius: 50%;

  width: 80%;
  margin: 0 auto;
  margin-bottom: 2%;
}
